In [5]:
"""
Random Forest
Global Feature Selection 
    - X = 'Depth (m)', 'σ,v (kPa)', 'σ',v (kPa)', 'SBT (-)', 'SBTn (-)',
    'Mod. SBTn (-)', 'Oberhollenzer_classes', 'iso_classes_encoded'.

    
    - Y = 'qc (MPa)','fs (kPa)'.

Link: https://github.com/DowellChan/ResNetRegression
"""
#General Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_squared_log_error
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.callbacks import EarlyStopping, ModelCheckpoint, LearningRateScheduler, CSVLogger
from sklearn.model_selection import train_test_split
import time

'''
PreProcessing
''' 
#Loading Database
df=pd.read_csv(r'/content/drive/MyDrive/Thesis/Article_04_Soil_Classification/Databases/mmc1.csv')
df

<ipython-input-5-6ccf5fef3926>:31: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r'/content/drive/MyDrive/Thesis/Article_04_Soil_Classification/Databases/mmc1.csv')

,ID,test_type,basin_valley,Depth (m),qc (MPa),fs (kPa),u2 (kPa),Vs (m/s),qt (MPa),Rf (%),...,U2 (-),SBT (-),SBTn (-),Mod. SBTn (-),n,Ic (-),Ic SBT (-),Ib (-),EN_ISO_14688_classes,Oberhollenzer_classes
0,0,CPT,Zell basin,0.02,1.15,1.0,NaN,NaN,1.77,0.06,...,NaN,0.0,0.0,0.0,-0.12,2.56,2.23,25.61,NaN,NaN
1,0,CPT,Zell basin,0.04,2.85,1.0,NaN,NaN,2.99,0.03,...,NaN,0.0,0.0,0.0,0.33,1.23,2.02,256.60,NaN,NaN
2,0,CPT,Zell basin,0.06,4.80,1.0,NaN,NaN,4.76,0.06,...,NaN,0.0,0.0,0.0,0.28,1.16,1.80,264.66,NaN,NaN
3,0,CPT,Zell basin,0.08,6.40,6.0,NaN,NaN,6.12,0.07,...,NaN,0.0,0.0,0.0,0.27,1.12,1.69,275.17,NaN,NaN
4,0,CPT,Zell basin,0.10,6.90,6.0,NaN,NaN,6.91,0.10,...,NaN,0.0,0.0,0.0,0.27,1.11,1.65,267.92,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2516974,1338,CPTu,Enns valley - Radtstadt basin,9.82,49.59,0.0,-0.6,NaN,49.68,0.00,...,-0.63,0.0,0.0,0.0,1.00,0.00,0.00,630.32,"Gr,sa+",1.0
2516975,1338,CPTu,Enns valley - Radtstadt basin,9.83,50.51,0.0,-0.4,NaN,51.45,0.00,...,-0.63,0.0,0.0,0.0,1.00,0.00,0.00,651.86,"Gr,sa+",1.0
2516976,1338,CPTu,Enns valley - Radtstadt basin,9.84,54.25,0.0,0.1,NaN,53.22,0.00,...,-0.62,0.0,0.0,0.0,1.00,0.00,0.00,673.37,"Gr,sa+",1.0
2516977,1338,CPTu,Enns valley - Radtstadt basin,9.85,54.91,0.0,0.9,NaN,54.66,0.00,...,-0.63,0.0,0.0,0.0,1.00,0.00,0.00,690.71,"Gr,sa+",1.0
2516978,1338,CPTu,Enns valley - Radtstadt basin,9.86,54.83,0.0,-1.9,NaN,54.85,0.00,...,-0.64,0.0,0.0,0.0,1.00,0.00,0.00,692.55,"Gr,sa+",1.0

In [6]:
# generate a descriptive table of the dataset
table = df.describe(include='all')

# display the table
print(table)

                  ID test_type    basin_valley     Depth (m)      qc (MPa)  \
count   2.516979e+06   2516979         2516979  2.516979e+06  2.516162e+06
unique           NaN         4              35           NaN           NaN
top              NaN       CPT  Salzburg basin           NaN           NaN
freq             NaN   1615909         1064259           NaN           NaN
mean    6.982726e+02       NaN             NaN  1.239890e+01  5.562390e+00
std     3.924927e+02       NaN             NaN  1.043221e+01  8.484159e+00
min     0.000000e+00       NaN             NaN  0.000000e+00 -8.610000e+00
25%     3.550000e+02       NaN             NaN  4.800000e+00  1.000000e+00
50%     7.050000e+02       NaN             NaN  1.021000e+01  2.640000e+00
75%     1.051000e+03       NaN             NaN  1.715000e+01  6.260000e+00
max     1.338000e+03       NaN             NaN  1.030000e+02  1.229000e+02

            fs (kPa)       u2 (kPa)     Vs (m/s)      qt (MPa)        Rf (%)  \
count   2.515446e+06  798379.000000  3981.000000  2.516853e+06  2.515663e+06
unique           NaN            NaN          NaN           NaN           NaN
top              NaN            NaN          NaN           NaN           NaN
freq             NaN            NaN          NaN           NaN           NaN
mean    6.443692e+01     248.580379   259.232605  5.582000e+00  2.696282e+00
std     2.538930e+02     356.498974   141.898354  8.475563e+00  4.327032e+01
min    -1.000000e+02     -96.800000     0.000000 -8.630000e+00 -1.000000e+02
25%     1.665000e+01       8.000000   186.000000  1.030000e+00  6.700000e-01
50%     3.420000e+01      99.300000   238.000000  2.650000e+00  1.370000e+00
75%     7.020000e+01     347.200000   291.000000  6.290000e+00  2.510000e+00
max     4.743600e+04    2381.300000  1310.000000  1.198200e+02  3.000000e+04

        ...         U2 (-)       SBT (-)      SBTn (-)  Mod. SBTn (-)  \
count   ...  798429.000000  2.516853e+06  2.516851e+06   2.516851e+06
unique  ...            NaN           NaN           NaN            NaN
top     ...            NaN           NaN           NaN            NaN
freq    ...            NaN           NaN           NaN            NaN
mean    ...       0.612548  4.363366e+00  4.265981e+00   4.335774e+00
std     ...       2.054080  1.491604e+00  1.705077e+00   2.382203e+00
min     ...     -50.660000  0.000000e+00  0.000000e+00   0.000000e+00
25%     ...      -0.230000  3.000000e+00  3.000000e+00   2.000000e+00
50%     ...       0.030000  4.000000e+00  4.000000e+00   5.000000e+00
75%     ...       1.560000  6.000000e+00  6.000000e+00   7.000000e+00
max     ...     414.600000  9.000000e+00  9.000000e+00   7.000000e+00

                   n        Ic (-)    Ic SBT (-)        Ib (-)  \
count   2.516851e+06  2.516851e+06  2.516852e+06  2.514622e+06
unique           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN
mean    8.138722e-01  2.484708e+00  2.428181e+00  5.549533e+01
std     2.033583e-01  8.083663e-01  7.272023e-01  3.915992e+02
min    -1.400000e-01  0.000000e+00  0.000000e+00 -9.961000e+01
25%     6.700000e-01  1.990000e+00  2.000000e+00  1.728000e+01
50%     8.700000e-01  2.470000e+00  2.460000e+00  2.902000e+01
75%     1.000000e+00  3.140000e+00  2.910000e+00  5.485000e+01
max     1.000000e+00  4.060000e+00  2.876000e+01  4.998024e+04

        EN_ISO_14688_classes  Oberhollenzer_classes
count                 880960           1.030469e+06
unique                   359                    NaN
top                   Si,fsa                    NaN
freq                   56936                    NaN
mean                     NaN           4.051562e+00
std                      NaN           2.276670e+00
min                      NaN           0.000000e+00
25%                      NaN           2.000000e+00
50%                      NaN           5.000000e+00
75%                      NaN           6.000000e+00
max                      NaN           7.000000e+00

[11 rows x 28 columns]

In [7]:
# create a pivot table to summarize the data
table = pd.pivot_table(df, index=['test_type', 'basin_valley'], values=['Depth (m)', 'qc (MPa)', 'fs (kPa)', 'Vs (m/s)', 'γ (kN/m³)'])

# display the table
print(table)

                                   Depth (m)    Vs (m/s)    fs (kPa)  \
test_type basin_valley
CPT       Abtenau basin             3.142709         NaN   72.447502
          Attersee-Mondsee basin    7.722643         NaN  109.402544
          Bad Reichenhall basin     5.394721         NaN   80.180659
          Berchtesgaden basin       2.202740         NaN   71.511009
          Eisenstadt-Sopron basin  12.725000         NaN  119.632783
...                                      ...         ...         ...
SCPTu     Attersee-Mondsee basin    9.775000  171.243243   49.709161
          Flachgau                 11.319150  177.820000   42.415619
          Salzburg basin           15.886485  255.550388   48.867332
          Walgau                   10.627502  207.206897   31.588434
          Zell basin               14.633950  171.165591   33.307066

                                    qc (MPa)  γ (kN/m³)
test_type basin_valley
CPT       Abtenau basin             5.195488       19.0
          Attersee-Mondsee basin    6.138890       19.0
          Bad Reichenhall basin    10.593292       19.0
          Berchtesgaden basin       5.884779       19.0
          Eisenstadt-Sopron basin   3.838679       19.0
...                                      ...        ...
SCPTu     Attersee-Mondsee basin    3.667385       19.0
          Flachgau                  3.376148       19.0
          Salzburg basin            3.412555       19.0
          Walgau                    3.487381       19.0
          Zell basin                4.127682       19.0

[64 rows x 5 columns]

In [8]:
!pip install python-docx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-docx
  Downloading python-docx-0.8.11.tar.gz (5.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 54.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from python-docx) (4.9.2)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.11-py3-none-any.whl size=184505 sha256=c94e685082326dfcc367a2d0c668af58885399fb177665f970da6fa018e024c3
  Stored in directory: /root/.cache/pip/wheels/80/27/06/837436d4c3bd989b957a91679966f207bfd71d358d63a8194d
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.11

In [15]:
df.columns

Index(['ID', 'test_type', 'basin_valley', 'Depth (m)', 'qc (MPa)', 'fs (kPa)',
       'u2 (kPa)', 'Vs (m/s)', 'qt (MPa)', 'Rf (%)', 'γ (kN/m³)', 'σ,v (kPa)',
       'u0 (kPa)', 'σ',v (kPa)', 'Qt (-)', 'Qtn (-)', 'Fr (%)', 'Bq (-)',
       'U2 (-)', 'SBT (-)', 'SBTn (-)', 'Mod. SBTn (-)', 'n', 'Ic (-)',
       'Ic SBT (-)', 'Ib (-)', 'EN_ISO_14688_classes',
       'Oberhollenzer_classes'],
      dtype='object')

In [32]:
grouped_df = df.groupby('test_type')[
    [
        # 'qc (MPa)', 
    #  'fs (kPa)', 
    #  'σ,v (kPa)',
     'Depth (m)'
      ]]
desc_df = grouped_df.describe().reset_index()
desc_df.to_csv('qc.csv')

In [25]:
grouped_df = df.groupby('test_type')[['qc (MPa)', 'fs (kPa)', 'σ,v (kPa)']]
desc_df = grouped_df.describe()

# stack the column index to convert it to a row index
stacked_df = desc_df.stack()

# pivot the dataframe to move the statistics to a row below the column names
pivoted_df = stacked_df.unstack(level=-1)

# add a row with the group names
pivoted_df = pd.concat([pd.DataFrame({'test_type': pivoted_df.index.get_level_values(0)}).T, pivoted_df])

# rename the index to remove the 'count' suffix from the column names
pivoted_df = pivoted_df.rename_axis(index={'qc (MPa)_count': 'qc (MPa)',
                                            'fs (kPa)_count': 'fs (kPa)',
                                            'σ,v (kPa)_count': 'σ,v (kPa)'})

# # remove the 'count' suffix from the column names
# pivoted_df.columns = [col[:-6] for col in pivoted_df.columns]

print(pivoted_df)

             0     1     2      3  (qc (MPa), count)  (qc (MPa), mean)  \
test_type  CPT  CPTu  SCPT  SCPTu                NaN               NaN
CPT        NaN   NaN   NaN    NaN          1615909.0          5.593042
CPTu       NaN   NaN   NaN    NaN           667183.0          4.037170
SCPT       NaN   NaN   NaN    NaN           102614.0          6.107169
SCPTu      NaN   NaN   NaN    NaN           131273.0          3.060553

           (qc (MPa), std)  (qc (MPa), min)  (qc (MPa), 25%)  (qc (MPa), 50%)  \
test_type              NaN              NaN              NaN              NaN
CPT               8.997027             -6.0              1.0              3.0
CPTu              6.937019              0.0              0.0              2.0
SCPT             10.597936             -2.0              0.0              2.0
SCPTu             6.160872             -8.0              0.0              1.0

           ...  (fs (kPa), 75%)  (fs (kPa), max)  (σ,v (kPa), count)  \
test_type  ...              NaN              NaN                 NaN
CPT        ...             76.0          47436.0           1615909.0
CPTu       ...             57.0           1924.0            667183.0
SCPT       ...             87.0           1675.0            102614.0
SCPTu      ...             55.0           1111.0            131273.0

           (σ,v (kPa), mean)  (σ,v (kPa), std)  (σ,v (kPa), min)  \
test_type                NaN               NaN               NaN
CPT               221.764502        193.014427               0.0
CPTu              248.700052        189.181883               0.0
SCPT              302.388593        283.187504               0.0
SCPTu             286.307433        202.039911               0.0

           (σ,v (kPa), 25%)  (σ,v (kPa), 50%)  (σ,v (kPa), 75%)  \
test_type               NaN               NaN               NaN
CPT                   84.55           180.880            306.28
CPTu                 102.41           214.130            350.36
SCPT                 105.83           220.685            381.14
SCPTu                124.64           254.220            409.64

           (σ,v (kPa), max)
test_type               NaN
CPT                 1957.00
CPTu                1320.69
SCPT                1442.48
SCPTu               1062.86

[5 rows x 28 columns]